In [5]:
import pandas as pd
import numpy as np

In [34]:
data = pd.read_csv('nba_games.csv')
data.head()

,Date,Full Name (Data.Home Team),Full Name (Data.Visitor Team),Home Team Score,Visitor Team Score
0,2020-12-22T00:00:00.000Z,Brooklyn Nets,Golden State Warriors,125,99
1,2020-12-22T00:00:00.000Z,Los Angeles Lakers,LA Clippers,109,116
2,2020-12-25T00:00:00.000Z,Miami Heat,New Orleans Pelicans,111,98
3,2020-12-26T00:00:00.000Z,Washington Wizards,Orlando Magic,120,130
4,2020-12-23T00:00:00.000Z,Cleveland Cavaliers,Charlotte Hornets,121,114

In [35]:
nba2020 = data.rename(columns={'Full Name (Data.Home Team)':'Home Team', 'Full Name (Data.Visitor Team)':'Visitor Team'})
nba2020.to_csv('nba2020.csv')

In [36]:
nba2020['Point Difference'] = nba2020['Home Team Score']-nba2020['Visitor Team Score']

In [37]:
nba2020['Home Win'] = np.where(nba2020['Point Difference'] > 0, 1, 0)
nba2020['Home Loss'] = np.where(nba2020['Point Difference'] < 0, 1, 0)
# nba2020.drop(columns=['home_win', 'home_loss'])

In [33]:
nba2020.head()

,Date,Home Team,Visitor Team,Home Team Score,Visitor Team Score,Point Difference,Home Win,Home Loss
0,2020-12-22T00:00:00.000Z,Brooklyn Nets,Golden State Warriors,125,99,26,1,0
1,2020-12-22T00:00:00.000Z,Los Angeles Lakers,LA Clippers,109,116,-7,0,1
2,2020-12-25T00:00:00.000Z,Miami Heat,New Orleans Pelicans,111,98,13,1,0
3,2020-12-26T00:00:00.000Z,Washington Wizards,Orlando Magic,120,130,-10,0,1
4,2020-12-23T00:00:00.000Z,Cleveland Cavaliers,Charlotte Hornets,121,114,7,1,0

In [32]:
# # from sklearn.preprocessing import OneHotEncoder

# home_df=pd.get_dummies(nba2020['Home Team'], prefix='Home')
# visit_df=pd.get_dummies(nba2020['Visitor Team'], prefix='Visitor')

,Home_Atlanta Hawks,Home_Boston Celtics,Home_Brooklyn Nets,Home_Charlotte Hornets,Home_Chicago Bulls,Home_Cleveland Cavaliers,Home_Dallas Mavericks,Home_Denver Nuggets,Home_Detroit Pistons,Home_Golden State Warriors,...,Home_Oklahoma City Thunder,Home_Orlando Magic,Home_Philadelphia 76ers,Home_Phoenix Suns,Home_Portland Trail Blazers,Home_Sacramento Kings,Home_San Antonio Spurs,Home_Toronto Raptors,Home_Utah Jazz,Home_Washington Wizards
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1108,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1109,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1110,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1111,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
df_visitor = pd.get_dummies(nba2020['Visitor Team'], dtype=np.int64)
df_home = pd.get_dummies(nba2020['Home Team'], dtype=np.int64)

In [39]:
df_model = df_home.sub(df_visitor) 
df_model['Point Difference'] = nba2020['Point Difference']

In [40]:
df_model.head()

,Atlanta Hawks,Boston Celtics,Brooklyn Nets,Charlotte Hornets,Chicago Bulls,Cleveland Cavaliers,Dallas Mavericks,Denver Nuggets,Detroit Pistons,Golden State Warriors,...,Orlando Magic,Philadelphia 76ers,Phoenix Suns,Portland Trail Blazers,Sacramento Kings,San Antonio Spurs,Toronto Raptors,Utah Jazz,Washington Wizards,Point Difference
0,0,0,1,0,0,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,0,26
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-7
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,13
3,0,0,0,0,0,0,0,0,0,0,...,-1,0,0,0,0,0,0,0,1,-10
4,0,0,0,-1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7

In [21]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split

In [45]:
df_train=df_model

lr = Ridge(alpha=0.001) 
X = df_train.drop(['Point Difference'], axis=1)
y=y = df_train['Point Difference']
X_train, X_test, y_train, y_test=train_test_split(X, y)

lr.fit(X_train, y_train)
print(lr.score(X_train, y_train))
print(lr.score(X_test, y_test))

0.19937047188828294
0.14234124919419655

In [54]:
len([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0])

31

In [57]:
len(X_train.columns)

30

In [59]:
lr.predict([[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0]])

array([10.76138804])

In [58]:
import pickle
pickle.dump(lr, open('../model/ridge_reg.sav', 'wb'))
pickle.dump(list(X.columns), open('../model/column_headers.sav', 'wb'))

In [20]:
lr.score(X, y)

0.19524989468828535

In [38]:
df_ratings = pd.DataFrame(data={'team': X.columns, 'rating': lr.coef_})
df_ratings

                      team     rating
0            Atlanta Hawks   2.205903
1           Boston Celtics   1.317621
2            Brooklyn Nets   5.331597
3        Charlotte Hornets  -2.254194
4            Chicago Bulls  -0.934875
5      Cleveland Cavaliers  -8.241444
6         Dallas Mavericks   2.480117
7           Denver Nuggets   4.790087
8          Detroit Pistons  -4.374829
9    Golden State Warriors   1.019226
10         Houston Rockets  -7.505012
11          Indiana Pacers  -0.170850
12             LA Clippers   5.789548
13      Los Angeles Lakers   3.029545
14       Memphis Grizzlies   1.335345
15              Miami Heat  -0.803154
16         Milwaukee Bucks   5.666647
17  Minnesota Timberwolves  -5.251709
18    New Orleans Pelicans  -0.145111
19         New York Knicks   2.070932
20   Oklahoma City Thunder -10.131644
21           Orlando Magic  -9.014767
22      Philadelphia 76ers   5.404578
23            Phoenix Suns   5.400428
24  Portland Trail Blazers   1.826267
25        Sacramento Kings  -3.705063
26       San Antonio Spurs  -1.586580
27         Toronto Raptors  -0.534880
28               Utah Jazz   8.771121
29      Washington Wizards  -1.784849

In [40]:
df_ratings.to_csv('team_ratings.csv')

In [42]:
nba2020=nba2020.drop(columns=['home_win', 'home_loss'])
nba2020

,Date,Home Team,Visitor Team,Home Team Score,Visitor Team Score,Point Difference,Home Win,Home Loss
0,2020-12-22T00:00:00.000Z,Brooklyn Nets,Golden State Warriors,125,99,26,1,0
1,2020-12-22T00:00:00.000Z,Los Angeles Lakers,LA Clippers,109,116,-7,0,1
2,2020-12-25T00:00:00.000Z,Miami Heat,New Orleans Pelicans,111,98,13,1,0
3,2020-12-26T00:00:00.000Z,Washington Wizards,Orlando Magic,120,130,-10,0,1
4,2020-12-23T00:00:00.000Z,Cleveland Cavaliers,Charlotte Hornets,121,114,7,1,0
...,...,...,...,...,...,...,...,...
1107,2021-03-25T00:00:00.000Z,Sacramento Kings,Golden State Warriors,141,119,22,1,0
1108,2021-04-09T00:00:00.000Z,Milwaukee Bucks,Charlotte Hornets,119,127,-8,0,1
1109,2021-03-26T00:00:00.000Z,Detroit Pistons,Brooklyn Nets,111,113,-2,0,1
1110,2021-03-27T00:00:00.000Z,Milwaukee Bucks,New York Knicks,96,102,-6,0,1
1111,2021-03-28T00:00:00.000Z,Charlotte Hornets,Phoenix Suns,97,101,-4,0,1

In [43]:
nba2020.to_csv('full_2020_season.csv')